.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, aliceblue 0%, #00008B 100%);
  }
  
  .form {
      background: #00008B;
      padding: 2rem;
      border-radius: 10px;
      width: 100%;
      max-width: 400px;
  }
  
  .title {
      margin-bottom: 2rem;
      font-size: 2rem;
      text-align: center;
      color: aliceblue;
    }
  
  .group {
      margin-bottom: 1.5rem;
  }
  
  .lable{
      display: block;
      margin-bottom: 0.5rem;
      font-size: 25px;
      color: aliceblue;
      width: 100%;
  }
  
  .registerButton{
      width: 100%;
      padding: 0.75rem;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      background: #f0f8ff;
      color: #333;
      cursor: pointer;
      margin-bottom: 0.5rem;
  }
  
  .message{
      margin-top: 0.5rem;
      display: block; 
      font-size: 15px;
      color: aliceblue;
  }

  .error{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 15px;
    color: red;
}
  
  .loginButton{
      font-size: 15px;
      text-decoration: underline;
      background-color: #00008B; 
      border: none;
      cursor: pointer;
  }